.nav {

  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__link {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
  }
}
