<section class="advantages">
  <div class="container advantages__container">
    <ul class="advantages__list list-reset">
      <li class="advantages__item">
        <div class="advantages__item-img">
          <img src="img/advantages/shiping.png" alt="Free Shipping">
        </div>
        <span class="advantages__descr">Free Shipping</span>
      </li>
      <li class="advantages__item">
        <div class="advantages__item-img">
          <img src="img/advantages/designe.png" alt="Awarded Product Design">
        </div>
        <span class="advantages__descr">Awarded Product Design</span>
      </li>
      <li class="advantages__item">
        <div class="advantages__item-img">
          <img src="img/advantages/eco.png" alt="Ecofriendly Approach">
        </div>
        <span class="advantages__descr">Ecofriendly Approach</span>
      </li>
      <li class="advantages__item">
        <div class="advantages__item-img">
          <img src="img/advantages/spain.png" alt="Crafted in Spain">
        </div>
        <span class="advantages__descr">Crafted in Spain</span>
      </li>
    </ul>
  </div>
</section>
