<section class="catalog">
  <div class="container">
    <ul class="catalog__list list-reset">
      <li class="catalog__item catalog-item">
        <div class="catalog-item__image">
          <img src="img/catalog/cloe.jpg" alt="Modular Storage System">
        </div>
        <div class="catalog-item__content">
          <h3 class="catalog-item__title">Cloe</h3>
          <p class="catalog-item__info">Modular Storage System</p>
          <p class="catalog-item__price">From $1.176</p>
          <p class="catalog-item__descr">An expansive way to furnish your space exactly how you need it and like it. Transform it in exactly what you need like a bookshelf, tv stand or show rack, you pick.</p>
          <button class="catalog-item__btn btn-reset">Shop now</button>
        </div>
      </li>
    </ul>
  </div>
</section>
