<section class="catalog">
  <div class="container">
    <ul class="catalog__list list-reset">
      <li class="catalog__item catalog-item">
        <div class="catalog-item__image">
          <img src="img/catalog/cloe.jpg" alt="Modular Storage System">
        </div>
        <div class="catalog-item__content">
          <h3 class="catalog-item__title">Cloe</h3>
          <p class="catalog-item__info">Modular Storage System</p>
          <p class="catalog-item__price">From $1.176</p>
          <p class="catalog-item__descr">An expansive way to furnish your space exactly how you need it and like it. Transform it in exactly what you need like a bookshelf, tv stand or show rack, you pick.</p>
          <button class="catalog-item__btn btn-reset">Shop now</button>
        </div>
      </li>
      <li class="catalog__item catalog-item">
        <div class="catalog-item__image">
          <img src="img/catalog/pelican.jpg" alt="Pelican">
        </div>
        <div class="catalog-item__content">
          <h3 class="catalog-item__title">Pelican</h3>
          <p class="catalog-item__info">Shelves with hidden hooks</p>
          <p class="catalog-item__price">From $89</p>
          <p class="catalog-item__descr">Store or exhibit your favorite objects in the entrance hall, modern hallways, living rooms and bedrooms with a decorative and minimalist touch.</p>
          <button class="catalog-item__btn btn-reset">Shop now</button>
        </div>
      </li>
      <li class="catalog__item catalog-item">
        <div class="catalog-item__image">
          <img src="img/catalog/alada.jpg" alt="Floating folding desk">
        </div>
        <div class="catalog-item__content">
          <h3 class="catalog-item__title">Alada</h3>
          <p class="catalog-item__info">Floating folding desk</p>
          <p class="catalog-item__price">From $534</p>
          <p class="catalog-item__descr">A timeless and discreet folding desk that seamlessly transforms into a decorative shelf in seconds.</p>
          <button class="catalog-item__btn btn-reset">Shop now</button>
        </div>
      </li>
      <li class="catalog__item catalog-item">
        <div class="catalog-item__image">
          <img src="img/catalog/alba.jpg" alt="Floating folding desk">
        </div>
        <div class="catalog-item__content">
          <h3 class="catalog-item__title">Alba Collection</h3>
          <p class="catalog-item__info">Modular bedside table & shelf</p>
          <p class="catalog-item__price">From $272</p>
          <p class="catalog-item__descr">A versatile and modular piece with a sculptural touch that can be used as a wall shelf or as a bedside table with concealed storage.</p>
          <button class="catalog-item__btn btn-reset">Shop now</button>
        </div>
      </li>
    </ul>
  </div>
</section>
