<section class="illustration">
  <div class="container">
    <div class="illustration__images">
      <div class="illustration__image">
        <img src="img/illustration/1.jpg" alt="">
      </div>
      <div class="illustration__image">
        <img src="img/illustration/2.jpg" alt="">
      </div>
      <div class="illustration__image">
        <img src="img/illustration/3.jpg" alt="">
      </div>
      <div class="illustration__image">
        <img src="img/illustration/4.jpg" alt="">
      </div>
    </div>
  </div>
</section>
